<% content_for :main_menu do %>
  <li><%= link_to "Home", root_path, class: 'active' %></li>
  <li><%= link_to 'Blog', blog_index_path %></li>
<% end %>
  <p>A DefIndex é uma empresa com muitos funcionários no momento são: 1 único funcionário.
  Como na música daquela velha banda gaucha do Hawaii, O Exército de um homen só.<br />
  Apesar de a empresa ter oficialmente apenas uma pessoa, nada na vida se consegue sozinho, por isso conto com
  parceiros e amigos (Designers, Front-End developers, Back-end developers, especialistas SEO, Publicitários e demais seres movidos a cafeína) para a realização dos  Projetos, ou melhor dizendo realização dos Sonhos. <br />
  Quando você cria um site para sua Empresa/Marca/Produto ele tem um objetivo, uma razão para existir. Você não cria um site simplestente porque é "moda" ou porque o concorrente tem um. Você cria um site para alcançar um determinado objetivo. E esse é nosso compromisso, nossa razão de existir, realizar seu sonho.
  </p>
