<ul class="breadcrumb">
  <li><%= link_to "Dashboard", admin_root_path %> <span class="divider">/</span></li>
  <li><%= link_to "Posts", admin_posts_path %> <span class="divider">/</span></li>
  <li class="active">New Post</li>
</ul>
<%= render 'form' %>
